@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
    line-height: 1;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.1rem;
}
ol,
ul {
    list-style: none;
}
