@import "../common/reset.css";
@import "../common/variables.css";

h1 {
  line-height: 100.24px;
}
p {
  line-height: 32px;
}

.page {
  background-image: url("../../assets/ilustration/line1.svg");
  background-repeat: no-repeat;
  background-position: 230px 10px;
  background-size: contain;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 32px;
}

@mixin navigation {
  .nav-menu ul {
    display: flex;
    gap: 40px;

    .nav-menu__item a {
      font-size: var(--txt-button);
      font-weight: 600;
      text-transform: capitalize;
      color: var(--text-shade2);

      &:hover {
        color: var(--primary);
      }
      &:active {
        color: var(--primary);
      }
    }
  }
}
@mixin btn {
  border-radius: var(--radius-btn);
  font-weight: 700;
  font-size: var(--text-button);
  color: var(--light);
  text-transform: capitalize;
  padding: 16px;
  max-width: 180px;
  width: 100%;

  @media (max-width: 768px) {
    max-width: 150px;
    font-weight: 600;
  }
}

// TODO: fazer animação de click dos buttons
.button__primary {
  @include btn();
  background-color: var(--primary);
}
.button__dark {
  @include btn();
  background-color: var(--dark);
}
.button__menu-mobile {
  padding: 16px;
  display: none;
}
.button__scroll {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 10px;
  margin-top: 60px;

  p {
    color: var(--text-shade2);
    font-size: var(----text-button);
    font-weight: 600;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include navigation();
}
@media (max-width: 695px) {
  .nav-menu,
  #btn-contact {
    display: none;
  }
  .button__menu-mobile {
    display: initial;
  }
}

.footer {
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer__text {
    max-width: 560px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 48px;
  }

  @include navigation();
}
@media (max-width: 1024px) {
  html {
    font-size: 13.5px;
  }
  h1 {
    line-height: 72px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 24px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 10.35px;
  }
  h1 {
    line-height: 56px;
  }
  p {
    font-size: 16px !important;
  }
  .container {
    padding: 12px;
  }
}

@media (max-width: 290px) {
  html {
    font-size: 9.5px;
  }
  h1 {
    line-height: 52px;
  }
  p {
    font-size: 12px !important;
    line-height: 22px;
  }
  .container {
    padding: 10px;
  }
}
