@import "../common/reset.css";
@import "../common/variables.css";

h1 {
  line-height: 100.24px;
}
p {
  line-height: 32px;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 32px;
  position: relative;
}

.primary-text {
  color: var(--primary) !important;
}

.pl {
  padding-left: 125px;
}

@mixin navigation {
  .nav-menu ul {
    display: flex;
    gap: 40px;

    .nav-menu__item a {
      font-size: var(--txt-button);
      font-weight: 600;
      text-transform: capitalize;
      color: var(--text-shade2);

      &:hover {
        color: var(--primary);
      }
      &:active {
        color: var(--primary);
      }
    }
  }
}
@mixin btn {
  border-radius: var(--radius-btn);
  font-weight: 700;
  font-size: var(--text-button);
  color: var(--light);
  text-transform: capitalize;
  padding: 16px;
  max-width: 180px;
  width: 100%;
  transition: 0.3s;

  &:hover {
    filter: brightness(1.1);
    transform: translate(-6px, -6px);
  }

  @media (max-width: 768px) {
    max-width: 150px;
    font-weight: 600;
  }
}

.button__primary {
  @include btn();
  background-color: var(--primary);
}
.button__dark {
  @include btn();
  background-color: var(--dark);
}

#btn-menu {
  display: none;
}
.button__menu-mobile {
  padding: 16px;
}
.button__scroll {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 10px;
  margin-top: 60px;

  p {
    color: var(--text-shade2);
    font-size: var(----text-button);
    font-weight: 600;
  }
}
.button__page {
  position: absolute;
  top: -60px;
  right: 50px;
  gap: 10px;
  display: flex;
  z-index: 30px;

  .button__page__next,
  .button__page__prev,
  bu {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
    }
  }
}
.button__next--primary {
  padding: 20px;
  border-radius: 50px;
  background-color: var(--primary);
  position: absolute;
  right: -30px;
  top: 100px;
}
.button__featured {
  background-color: var(--accent3);
  color: var(--light);
  font-size: var(--txt-button);
  border-radius: 16px;
  padding: 6px 16px;
  margin-bottom: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include navigation();
}

.headline {
  position: relative;
  margin-bottom: 100px;
  position: relative;
  z-index: 20;

  .headline__subtitle {
    font-size: var(--text-body1);
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 54px;
  }

  .headline__title {
    font-size: var(--text-heading2);
    max-width: 700px;
    width: 100%;
    line-height: 72px;
  }
}

.number-box {
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .number {
    font-size: 120px !important;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .number-label {
    font-size: var(--text-body1);
    font-weight: 600;
  }
}

@media (max-width: 695px) {
  .nav-menu,
  #btn-contact {
    display: none;
  }
  #btn-menu {
    display: initial;
  }
}

.footer {
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer__text {
    max-width: 560px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 48px;
  }

  @include navigation();
}

@media (max-width: 600px) {
  .footer__text {
    max-width: 300px !important;
  }
}
