@import "../common/reset.css";
@import "../common/variables.css";

.hero {
  padding: 32px 64px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;

  min-height: calc(100vh - 100px);

  .hero-content {
    min-width: 250px;
    max-width: 410px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .hero__title {
      font-size: var(--text-heading1);
    }
    .hero__text {
      font-size: var(--text-body1);
      color: var(--text-shade1);
    }
  }

  .box-ilustration {
    position: relative;
    max-width: 700px;
    min-width: 300px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    .ilustration {
      position: relative;
      z-index: 20;
      width: 120%;
    }
    .bg-ilustration {
      height: 100%;
      position: absolute;
      top: 1px;
      right: 1px;
      z-index: 10;
    }
  }
}

@media (max-width: 750px) {
  .hero {
    flex-wrap: wrap;
    .box-ilustration {
      margin-top: 60px;

      .ilustration {
        width: 100%;
      }
    }
  }
}
