@media (max-width: 1024px) {
  html {
    font-size: 13.5px;
  }
  h1 {
    line-height: 72px;
  }

  .about__side {
    display: none !important;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 11.6px !important;
  }
  .container {
    padding: 24px;
  }
  .pl {
    padding-left: 0;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 10.35px;
  }
  h1 {
    line-height: 56px;
  }
  p {
    font-size: 16px !important;
  }
  .container {
    padding: 20px;
  }
}

@media (max-width: 290px) {
  html {
    font-size: 9.5px;
  }
  h1 {
    line-height: 52px;
  }
  p {
    font-size: 12px !important;
    line-height: 22px;
  }
  .container {
    padding: 10px;
  }
}
