@import url("../common/variables.css");
@import url("../common/reset.css");

.services {
  background-image: url("../../assets/ilustration/line3.svg");
  background-repeat: no-repeat;

  .grid-card {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .card {
    background-color: var(--light);
    border-radius: 48px;

    max-width: 280px;
    width: 100%;

    height: 480px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
    cursor: pointer;

    img {
      max-width: 130px;
      width: 100%;
    }

    p {
      font-size: var(--text-body1);
      color: var(--primary);
      font-weight: 600;
      margin-top: 10px;
    }

    &:hover {
      transform: scale(1.05);
      background-color: var(--primary);
      p {
        color: var(--light);
      }
    }
  }

  .achievement {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap-reverse;
    .box-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 270px;
      height: 270px;
      border-radius: 50%;
      background-color: var(--accent1);

      img {
        max-width: 350px;
        width: 100%;
      }
    }

    .achievement-text {
      max-width: 500px;
      text-align: center;
      width: 100%;
      .subtitle {
        display: flex;
        gap: 50px;
        margin-bottom: 20px;

        p {
          font-size: var(--text-body1);
          font-weight: 500;
          color: var(--text-shade2);
        }
      }
      .title {
        line-height: 30px;
      }
    }
  }

  .number-box {
    margin: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 1225px) {
  .card {
    max-width: 206px !important;
    height: 390px !important;
    img {
      width: 90px !important;
    }
  }
}
@media (max-width: 920px) {
  .card {
    max-width: 280px !important;
    height: 450px !important;
  }
}
@media (max-width: 768px) {
  .card {
    max-width: 100% !important;
    height: 300px !important;
  }
}
@media (max-width: 578px) {
  .card {
    height: 230px !important;
  }
  .achievement-text {
    .title {
      text-align: center !important;
    }
  }
}
